



.login-or-register-btn-div button {
    padding:  2vh 6vh 2vh 6vh;
    margin-top: 7px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 4px;
    color: var(--primary-text-color);
    font-size: var(--font-size);
}

.login-or-register-btn-div button:hover {
    opacity: 0.8;
}

.login-or-register-btn-div {
    margin: 4px;
}